<h1>Welcome to Blogie</h1>
<p>Here you'll find all your bloging needs fulfiled</p>

<h2> This Month's Top Blogs</h2>
<ul>
    <% @blogs.each do |value| %>
    <li><%= link_to value.title, blog_name_path(value) %></li>
    <% end %>
</ul>

<h2>What to contribute?</h2>
<%= link_to 'New blog submissions', new_blog_entry_path %>

<h2> Want to edit your post submission? </h2>
<%= link_to 'Edit blog submissions', edit_blog_path(:id)%>